<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://code.alibabatech.com/schema/dubbo
                        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="pika-center-service-user" />

    <!-- zookeeper 注册中心 -->
    <dubbo:registry address="${zookeeper.register.center.url}" timeout="30000" />
    <dubbo:protocol name="${rpc.protecol}" port="${zookeeper.service.port}" codec="spring" />

    <dubbo:service interface="pers.pika.center.service.user.api.user.UserService" ref="userServiceImpl" timeout="30000" retries="0" />
    <dubbo:service interface="pers.pika.center.service.user.api.sys.RoleService" ref="roleServiceImpl" timeout="30000" retries="0" />
    <dubbo:service interface="pers.pika.center.service.user.api.sys.PermissionService" ref="permissionServiceImpl" timeout="30000" retries="0" />
    <dubbo:service interface="pers.pika.center.service.user.api.sys.MenuService" ref="menuServiceImpl" timeout="30000" retries="0" />
</beans>