<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://code.alibabatech.com/schema/dubbo
						http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="pika-center-web-boss" />
    <!-- zookeeper 祖册中心 -->
    <dubbo:registry address="${zookeeper.register.center.url}" timeout="30000" />

    <!-- ======================= 声明需要调用的服务接口 【开始】======================= -->
    <!--
        ·配置简要说明：
        ·<dubbo:reference>标签中的id，要与接口的名称一致
        ·<dubbo:reference>标签中的interface，是接口的完全包类名。无论是服务提供者还是服务调用者，标签中都会有interface属性，所以，接口包路径要一致。
        ·   这里也说明了为什么要将接口单独抽离成一个jar模块，因为dubbo是根据接口包类名来寻找接口服务方的。并且，接口的方法参数、参数类型都要一致。
     -->

    <dubbo:reference interface="pers.pika.center.service.user.api.user.UserService" id="userService" timeout="30000" retries="0"  check="false"/>
    <dubbo:reference interface="pers.pika.center.service.user.api.sys.RoleService" id="roleService" timeout="30000" retries="0"  check="false"/>
    <dubbo:reference interface="pers.pika.center.service.user.api.sys.PermissionService" id="permissionService" timeout="30000" retries="0"  check="false"/>
    <dubbo:reference interface="pers.pika.center.service.user.api.sys.MenuService" id="menuService" timeout="30000" retries="0"  check="false"/>
</beans>